.root{
    -fx-background-color: white;
}

.label {
    -fx-text-fill: #003EFF;
    -fx-font-family: Arial;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

.button{
    -fx-background-color: #003EFF;
    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}